[Unit]
Description=Netswitch Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/netswitch-daemon
Restart=always
User=root

[Install]
WantedBy=multi-user.target
